  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .modal-content {
    width: 100%;
  }

  .modal-body {
    width: 100%;
    padding-bottom: none !important;
  }

  .modal-header {
    display: flex;
    padding: 15px 15px 15px 0 !important;
  }

  .modal-top {
    flex: 1;
  }

  .modal-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 590px;
  }

  .modal-desr {
    color: #484848;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .modal-content {
    height: 730px;
  }

  .input-detail {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.38);
    border-radius: 8px;
    outline: none;
  }


  .modal-product {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .product-detail {
    display: flex;
    justify-content: space-around;
  }

  .detail-info-group {
    height: 265px;
    background: #FFFAF3;
    border: 1px solid #E28600;
    border-radius: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-img {
    width: 224px;
    height: 224px;
    display: flex;
    justify-content: center;
    align-items: c;
  }

  .product-img img {
    width: 100%;
    height: 100%;
  }

  .card-title {
    font-size: 13px;
    color: #3A3A3A;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 66%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .title1-pthm {
    background: #fff;
    /* display: flex; */
    padding: 0px 0px !important;
    margin-right: 20px;
    border-radius: 12px;

  }

  .header-pthm {
    background-color: #f3f3f3;
    margin: 20px 30px 20px 86px;
    display: flex;
  }

  .col-xs-12.content-pthm {
    background-color: #f3f3f3;
    margin: 20px 30px 20px 86px;
    display: flex;
  }

  .title1 {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 4px;
  }

  .title2 {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .content-wrapper {
    padding-right: 10px;
  }

  .title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 15px;
    align-items: center;
    padding: 20px 16px;
  }

  .dropdown.bootstrap-select.form-control.input-content.bs3 {
    width: 153px;
    height: 40px;
    border-radius: 8px !important;
    margin-right: 20px !important;
  }

  .filter-option-inner-inner {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 16px;
    line-height: 24px;
  }

  span.caret {
    color: rgba(0, 0, 0, 0.87);
  }

  table {
    width: 96%;
    margin: 0px 30px 20px 30px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    border-collapse: collapse;
    border-spacing: 0;
  }

  tr {
    border-bottom: 1px solid #aaa;
  }

  tr td {
    padding: 15px 0px !important;

  }

  input.input-table-disable {
    width: 64px;
    height: 39.47px;
    background: #D9D9D9;
    border-radius: 8px;
    border: none;
  }

  .td-uppercase {
    text-transform: uppercase;
    font-weight: bold;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .header-pthm.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden {
    background-color: #f3f3f3;
    width: auto;
    height: auto;
    margin: 20px 30px 20px 86px;
    display: flex;
  }
<<<<<<< Updated upstream
  button.btn.dropdown-toggle.btn-default.bs-placeholder {
    border: none !important
  }
=======


>>>>>>> Stashed changes
  button.btn.dropdown-toggle.btn-default.bs-placeholder:hover {
    background-color: #fff !important
  }
  .div-md-2{
    margin-right: 36px;
  }
  @media screen and (max-width: 991px) {
    .modal-content-overflow {
      overflow: scroll;
    }
  }