
body{
    font-family: 'SF Pro' !important;
    min-width: 100%;    
}
.content-offer {
    background-color: #fff !important;
    margin: 10px 20px 0 76px;
    border-radius: 8px; 
    height: auto;
}

.search-title {
margin: 15px 0 5px 0;
font-weight: 400;
letter-spacing: 0.15px;
color: rgba(0, 0, 0, 0.87);
font-size: 14px;
line-height: 24px;
color: rgba(0, 0, 0, 0.87);
}
.offer-top {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.top-title {
    flex: 1;
    font-weight: 700;
    font-size: 20px;
line-height: 24px;
color: rgba(0, 0, 0, 0.87);
}
.top-desr {
    color: #484848;
    font-size: 14px;
line-height: 20px;
}
.top-detail {
   flex: 1;
}
.top-upload  {
   display: flex;
   align-items: center;
}
.upload-pgup {
    margin-left: 30px;
    width: 10px;
    height: 10px;
}
input.form-control.type-input{
    width: 100%!important;
    height: 32px !important;
    border-radius: 8px !important ;
    padding: 0 10px!important;
    margin-right: 10px!important;
}
input.form-control.table-input{
    width: 100%!important;
    height: 32px !important;
    border-radius: 8px !important ;
    padding: 0 10px!important;
    margin-right: 10px!important;
    min-width: 120px !important;
}
.col-md-1{
    padding-left: 0 !important;
}
.col-md-2 {
    padding-left: 0!important;
}
.dropdown.bootstrap-select.form-control.bs3 {
    width: 100%!important;
    max-width: none;
}
button.btn.dropdown-toggle.btn-default.bs-placeholder[aria-owns='bs-select-1'] {
    width: 100%!important;
    
    border-radius: 8px !important;
}
button.btn.dropdown-toggle.btn-default.bs-placeholder {
    border-radius: 8px !important;
    width: 300px!important;
    height: 32px !important;;
}
.offer-body {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.body-add {
    float: right;
    display: flex;
    align-items: center;
}
.add-title {
    font-weight: 590;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.15px;
    margin-right: 10px; 
    color: rgba(0, 0, 0, 0.6);
}
.add-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.search-title.bold {
font-size: 12px;
color: #000000;
}
.form-footer {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.btn-create {
font-size: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
width: 200px;
height: 44px;
outline: none;
background: #D2151E;
border-radius: 8px;
color: #fff;
}
.note {
    width: 120px !important;
}
.icon-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height:74px;
}
.icon-delete_img {
    cursor: pointer;
}
.offer-table {
    padding: 15px;
}

.table-select {
    width: 280px;
    
}
.table-title {
    margin-bottom: 10px;
    font-weight: 700;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.15px;

color: #000000;
}
.table-title.small {
    font-weight: 400;
}
.table-title.action {
    align-items: center;
    width: 50px!important;
}
td.table-input {
font-weight: 590;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.15px;
color: #000000;
}
td{
    padding: 5px 20px!important;
    /* width: 240px!important; */
}
td.size {
    width: 250px!important;
}
td.table-delete {
    /* width: auto!important;
     */
     padding: 0!important;
}
tr.hide-row{
    display: none;
}