body{
    font-family: 'SF Pro' !important;
    
}
.top-desr {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFAE01;
}
.upload-submit {
    font-weight: 700;
    border: none;
    width: 153px;
    height: 40px;
    left: 1133px;
    top: 4px;
    background: #D2151E;
    border-radius: 8px;
    font-size: 16px;
    color: #eee;
}
button.btn.dropdown-toggle.btn-default.bs-placeholder[aria-owns='bs-select-1'] {
    width: 300px!important;
    
    border-radius: 8px !important;
}
.detail-desr {
    font-weight: 700!important;
    font-size: 16px!important;
    line-height: 23px!important;
    color: rgba(0, 0, 0, 0.87)!important;
}